

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@font-face {
    font-family: netflix;
    src: url(fuente/netflix.ttf);
}
h1{
    font-family: netflix;
    font-size: 9em;
    color: red;
}
